/* Update Job Details
-------------------------------------------------------------- */
@fieldLabelWidth = 105px;
@fieldValueWidth = 140px;
@datepickerWidth = 100px;
@fieldDropdownWidth = @fieldValueWidth + 2;

.ui-datepicker-trigger {
    width: 22px;
    height: 20px;
    vertical-align: top;
    margin: 4px 2px 2px 2px;
}
	
#jobdetails {

    form {
        p { margin: 0; padding: 0; }
        .error-highlight { border-color: @dark-red; }
        .error{ height: auto; padding: 5px; }
        label { width: @fieldLabelWidth; text-align: left; font-weight:bold; font-size: 1.0em; vertical-align: top; float: left; .border-radius(2px); margin-right: 5px;}
        .fieldValue { width: @fieldValueWidth; height: 18px; padding: 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; float: left; .clearfix  }
        .fieldInput { 
            display:none;
            .border-radius(2px);
            width: @fieldValueWidth;
            input, textarea, select { font-size: 1.0em; padding: 3px; .border-radius(2px);}
            input { width: 125px; .border-radius(2px) } 
            textarea { width: 125px; height: 34px; .border-radius(2px) }          
            select { padding: 2px 3px 2px 3px; .border-radius(2px)}
        }    
        .memoValue { width: 100%; }
        .memoInput { 
            display:none;
            width: 100%;
            padding: 0;
            textarea { width: 95%; height: auto; min-height: 160px; }
        }
        .ui-combobox { padding: 0; }
		
        .ui-combobox-input { font-size: 1.0em; color: #606060; }		
		
        .ui-combobox-toggle {
            top: 3px;
            right: 3px;
            margin: 0;
            font-size: 0.86em; // ie6 fix - controls height of button through <a> tag font
        }
        .ui-icon, .ui-state-focus {
            padding: 0;
            background-image: url(Skins/@{theme}/images/down_arrow.png); 
            background-repeat: no-repeat;
        }
.ui-state-hover {
            padding: 0;
            background-image: url(Skins/@{theme}/images/down_arrow.png); 
            background-repeat: no-repeat;
        }
        .ui-icon-triangle-1-s { background-position: 0px 0px; }
        .ui-button-text { display: none; }
		
	h2{
            font-size:1em;
	}
		
    }
	

    .inline-save { 
	background-color:@black;
	text-decoration:none;
	//.gradient(@blueLight, @blueDark);
	color:@white;
        padding: 5px 7px; 
        .box-shadow-glow; 
        .border-radius(2px);
  	.box-shadow-inset;
  	.box-shadow-glow;
  	margin-left: 5px; 
        margin-right: 5px;
	position:relative;
    }
	
    .inline-cancel{
	background-color:#e1253b;
	text-decoration:none;
	.gradient(#f12a41, #e1253b);
	color:@white;
        padding: 5px 7px; 
        .box-shadow-glow; 
        .border-radius(2px);
  	.box-shadow-inset;
  	.box-shadow-glow;
  	margin-left: 5px; 
        margin-right: 5px;
	position:relative;
    }

    #ProductDetails { 
        label {width: 118px;}
        input, textarea { width: 122px;}
        img { padding: 0;  margin-left: 0; margin-right: 0; }
        .fieldValue, .fieldInput {width: 142px;}
    }
	
    #AdditionalInformation { 
        label {width: 125px;}
        input { width: 110px;}
        .fieldValue, .fieldInput {width: 130px;}
    }

    #BookedBy { 
        label {width: 60px;}
        .fieldValue {width: 195px}
    }

    .hasDatepicker { width:@datepickerWidth !important; margin-right: 3px;}

    #AppointmentsDT {
        .type { width: 60px; }
        .user { width: 60px; }
        td, th { 
            padding:1px 1px; 
            //font-size: 0.85em; 
        }
    }

    #InvoiceCosts { 
        #discount-type { .hide; text-align:right; }
        #DiscountAllowedRate { width: 20px; padding: 0;}
        #Carriage, #VAT, #DepositPaid, #DiscountAllowed { 
            margin-bottom: 5px; 
            .fieldValue, .fieldInput { border-bottom: solid 1px @gray; }
        }
        .fieldValue { width: 80px; text-align: right; display: inline-block; }
        .fieldInput { width: 80px; 
                      input { width: 80px; text-align: left; }
                      select { width: 80px; text-align: left; }
        } 
        label { width: 160px; }
    }

    #EQ1, #EQ2 {
        margin-top: 20px;
        margin-bottom:20px;
    }

    #EQ3, #EQ4, #EQ5, #EQ7 { margin-top:5px; }

    .head {
        .icon_c, .icon_e { 
            width: 18px; 
            height: 18px;
            margin: 0 6px 0 0;
            float: right;
            background: url(Skins/@{theme}/images/accordion_icons.png) no-repeat 0px top;
        }
        .border-radius(2px);
        
        .icon_e { background-position: -16px top; }
        //background: url("Skins/@{theme}/images/header.png") no-repeat; 
        background-color: @accent-1;
        color:@white; 
        font-weight:bold;
        cursor: pointer; 
        padding: 8px 0 8px 6px;
    }

    #CustomerDetails, #ServiceCentre {
        p.address, p.contact-info { font-size: 1em; margin-top:5px;}
        span span { padding: 0 5px; font-size: 1em;  }
		strong { color:@grayDark; }
        div { font-size: 13px;font-size: 1em; }
        .label {
            float: left;
            padding-top: 9px;
            font-size: 1em;
            font-weight: bold; }        
        input { font-size: 1em; }
        .clear {
            .email { width: 135px;font-size: 1em;}
            input { width: 120px;font-size: 1em; }
        }
    }
    
    input.textSubmitButton {
	.form-button;
        //font-size: 1.2em; 
        //color: @text; margin: 3px;
        //background-color: transparent;
        //text-decoration: underline;
        //border: none !important;
        //cursor: pointer;
        //background: transparent;
        //.remove-box-shadow();
    } 

    .spacer { clear: both; height: 45px; }
}


/* View Service Centre
-------------------------------------------------------------- */
#ViewServiceCentre #PrincipleContacts p { margin :0; }

/* Edit Customer Details
-------------------------------------------------------------- */
#EditCustomerDetails {

    label { .span(5); margin-right: 15px; width:150px; font-size:1.0em;}
    p {  margin: 0; padding-right: 40px; font-size:1.0em;}
    label.fieldError { margin-left: 209px; width: 380px; font-size:1.0em;}
    input.text { width: 385px; font-size:1.0em;}
    select { width: 397px; }
    label.fieldError { .span(10); margin-left:170px; }
    .blueText { color:@blue; }
    .jobBookingValueInner {.last; text-align:left; font-size: 1.0em; margin: 0px 0 3px 2px; padding-left:170px;}
   
    .dateField { width:132px; }
    .phoneField { width:222px !important }
    .extField {  width:153px !important }
   
}

/* AddAppointments
-------------------------------------------------------------- */
#createAppointments {
    #AppointmentDate select, #AppointmentTime select { width: 150px; }  
}


.container div#jobdetails.main h2.span-8{
font-size:1.2em;
}



#EQ7 { 

.leftAlign {
    
        float:left;
        /*width:144px;*/
        height:26px;
        text-align:left;
        vertical-align:bottom;
        padding:5px 0px 0px 10px;
        margin-right:12px;
        font-weight:bold;
        color:@black;
        
    }

  form {
        label { .span(6); text-align:right;}
    }

}
