<div class="buttonPanel">
    <hr />
    {*<a id="select" href="{$_subdomain}/index/jobdetail">Select Item</a>*}
    <span id="cancel">
    <a href="{$_subdomain}/index/index/cancelAdvancedSearch"><button type="button" name="cancel" class="gplus-blue last">
    <span class="label">Cancel</span></button>
    </a>
    </span>

</div>