/* Form Buttons */
.form-button{
text-decoration:none;
background-image:url(Skins/@{theme}/images/button_gradients.png);
background-repeat: repeat-x;
color:@white;
    display: inline-block; padding: 3px 7px; .box-shadow-glow; .border-radius(2px);
  border:1px solid @black;
}
.form-button-hover{
background-image:url(Skins/@{theme}/images/button_gradients_hover.png);
background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 1px 0 0 #d4d4d4;
    -moz-box-shadow: inset 0 1px 0 0 #d4d4d4;
    box-shadow: inset 0 1px 0 0 #d4d4d4;
    color: @white;
    cursor: pointer;
border:1px solid @gray; 
}
.form-button-active{
    -webkit-box-shadow: inset 0 0 1px 0px #E0E0E0, 0 0 1px 0 #EDEDED;
    -moz-box-shadow: inset 0 0 1px 0px #E0E0E0, 0 0 1px 0 #EDEDED;
    box-shadow: inset 0 0 1px 0px #E0E0E0, 0 0 1px 0 #EDEDED;
	color: @grayLightest;
	}

.button() {
	text-decoration: none;
        font-weight; normal;
	color: #444;
	display: inline;
	float: left;
	margin: 5px 5px 5px 0px;
	padding: 5px 6px 6px 6px;
	cursor: pointer;	
	border: solid 1px #D9D9D9;
        background: #F3F3F3;
        .border-radius(2px);
        .transition( border-color .20s );

        span.label {
            display: table-cell;
            padding: 0 1em;
            overflow: hidden;
            color: #444;
            .transition( color .20s );
        }

        &:hover {
            background: #F4F4F4;
            border-color: #C0C0C0;
            color: #333;
            .box-shadow();
        }

        &:active {
            border-color: #C6C6C6 !important;
            color: #4D90FE;
            .box-shadow( none );
            span.label {
                color: #333 !important;
            }
        }
}

.gplus-button( @color ) {

        .button();

        @border: darken(@color, 5.5%);
        @from: lighten(@color, 5%);
        @to: darken(@color, 5%);

        @hover: darken(@color, 3.8%);
        @borderHover: darken(@hover, 5.5%);
        @fromHover: lighten(@hover, 5%);
        @toHover: darken(@hover, 5%);

	border: 1px solid @border !important;
	background: @color;
        .transition( border .20s );

        &:hover {
            border: 1px solid @borderHover !important;
            background: @hover;
        }

        &:active {
            border-color: @borderHover !important;
            color: #FFF !important;
        }

        span.label {
            color: #FFF !important;
        }

}

.gplus-disabled( @color ) {

        .button();

        background: @color;
        border: 1px solid @color !important;
        cursor: default;

        &:hover {
            border: 1px solid @color !important;
            background: @color;
            .box-shadow( none );
        }

        span.label {
            color: #FFF !important;
           // text-shadow: 0 1px 0 @borderHover !important;
           // text-shadow: 0 0px 0 @borderHover !important;
        }

}

// IE issues with filter support, IE doesn't support filters and less combination
button.gplus-blue { 
.gplus-button( #000000 );
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

button.gplus-blue:hover { 
.gplus-button( @grayDark );
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

button.gplus-blue-disabled { .gplus-disabled( @grayLighter); }
.gplus-red { .gplus-button( #D64937 ); }